In [ ]:
understanding the variable in python

In [1]:
x=3
y=5

In [2]:
z=x+y
print(z)

8

In [ ]:
Rules for declaring variables in python:

In [ ]:
R1:No namespaces while declaring the variable names in python..

In [3]:
first name='syed'
print(first name)

SyntaxError: invalid syntax (3819141573.py, line 1)

In [4]:
firstname='syed'
print(firstname)

syed

In [ ]:
R2:A variable name should not start with a number....

In [5]:
1 name='syed'
print(1 name)

SyntaxError: invalid syntax (2848742034.py, line 1)

In [6]:
name1='syed'
print(name1)

syed

In [ ]:
R3:A variable name should not contain any special characters....(eg:@#$%^)

In [7]:
name@='syed'
print(name@)

SyntaxError: invalid syntax (2150747869.py, line 2)

In [ ]:
Intro to datatypes in python:

In [ ]:
1.strings----> str
2.Numbers---->integers--->int and float--->floats(decimal numbers)
3.list--->list
4.tuples----->tuple
5.dictionary---->dict

In [ ]:
Classification of datatypes in python:
classified in 2 types
1.mutable datatypes---->which we can alter/edit
2.Immutable datatypes---->fixed in nature

In [ ]:
Intro to string datatype:
Definition:A string is a series of characters declared in quotes

classification:
1.single quote
2.double quote

In [2]:
name='syed'
print(name)

syed

In [4]:
name2="syed"
print(name2)

syed

In [ ]:
Intro to string methods:(built in pgms i.e.formulas)

In [6]:
type(name)

str

In [7]:
type(name2)

str

In [9]:
fullname='syed'
print(fullname)

syed

In [ ]:
#req:to correct the format...

In [10]:
print(fullname.title())

Syed

In [ ]:
#req:to change entire name in caps...

In [11]:
print(fullname.upper())

SYED

In [ ]:
#req:to change entire name in lowercase...

In [12]:
print(fullname.lower())

syed

In [ ]:
DAY3 :Continuation of string datatype

intro to f strings:

In [14]:
firstname='syed'
lastname='fathima'

In [ ]:
#req:to get the fullname....?
#general syntax of f strings

In [ ]:
f"custom message{placeholder_1}{placeholder_2}.....{placeholder_n}"

In [16]:
fullname=f"{firstname}{lastname}"
print(fullname)

syedfathima

In [17]:
print(fullname.title())

Syedfathima

In [19]:
message=f"keepitup,{fullname.title()}"
print(message)

keepitup,Syedfathima

In [ ]:
Adding white spaces to strings:

In [20]:
print("favourite_language:pythonCjavac++swiftjavascript")

favourite_language:pythonCjavac++swiftjavascript

In [21]:
print("favourite_language:\npython\nC\njava\nc++\nswift\njavascript")

favourite_language:
python
C
java
c++
swift
javascript

In [22]:
print("favourite_language:\n\tpython\n\tC\n\tjava\n\tc++\n\tswift\n\tjavascript")

favourite_language:
	python
	C
	java
	c++
	swift
	javascript

In [ ]:
Removing white spaces from the strings:

In [2]:
name="  python"
print(name)

  python

In [4]:
name2="python"
print(name2)

python

In [6]:
name3="python  "
print(name3)

python

In [7]:
name.lstrip()

'python'

In [8]:
name3.rstrip()

'python'

In [10]:
name4='  python  '
print(name4)

  python

In [11]:
name4.strip()

'python'

In [ ]:
#Zen of python:guiding principles

In [12]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [ ]:
Intro to numbers:

In [14]:
number=123
print(number)

123

In [15]:
type(number)

int

In [17]:
num2=0.1
print(num2)

0.1

In [18]:
type(num2)

float

In [ ]:
DAY4
Intro to list:
List is a collection of items defined in a particular order

Classification:
It is classified in mutable datatype.
how to define list datatype:[]#

In [20]:
students=['syed','minha','asma','hasan']#[0,1,2,3]
print(students)

['syed', 'minha', 'asma', 'hasan']

In [21]:
type(students)

list

In [ ]:
Intro to Indexing:0,1,2,3,4,5,.....

In [ ]:
#req:to access syed name in the output..

In [22]:
print(students[0])

syed

In [23]:
print(students[1].title())

Minha

In [24]:
print(students[0].title())

Syed

In [ ]:
How to add new elements to the list

In [25]:
print(students)

['syed', 'minha', 'asma', 'hasan']

In [ ]:
req:to add name zameer in the list....

In [6]:
students.append('rina')

NameError: name 'students' is not defined

In [8]:
students=['syed','minha','asma','hasan']#[0,1,2,3,4,5,6]
print(students)

['syed', 'minha', 'asma', 'hasan']

In [10]:
students.append('zameer')
print(students)

['syed', 'minha', 'asma', 'hasan', 'zameer', 'zameer']

In [12]:
students.insert(2,'farooq')
print(students)

['syed', 'minha', 'farooq', 'farooq', 'asma', 'hasan', 'zameer', 'zameer']

In [13]:
print(students[2])

farooq

In [14]:
print(students)

['syed', 'minha', 'farooq', 'farooq', 'asma', 'hasan', 'zameer', 'zameer']

In [16]:
students[0]='alima'
print(students)

['alima', 'minha', 'farooq', 'farooq', 'asma', 'hasan', 'zameer', 'zameer']

In [18]:
del students[3]
print(students)

['alima', 'minha', 'farooq', 'hasan', 'zameer', 'zameer']

In [5]:
students.append('zameer')
print(students)

NameError: name 'students' is not defined

In [29]:
students.append('rina')
print(students)

['syed', 'minha', 'asma', 'hasan', 'zameer', 'zameer', 'rina', 'rina']

In [2]:
#req:to add name farooq in 2nd posistion....

students.insert(2,'farooq')

NameError: name 'students' is not defined

NameError: name 'students' is not defined

In [4]:
students.insert(2,'farooq')
print(students)

NameError: name 'students' is not defined